<?xml version="1.0"?>

<launch>

	<arg name="name" />
	<arg name="robot_name" />

	<include file="$(find freenect_launch)/launch/freenect.launch">
		<arg name="camera" default="$(arg name)" />

		<arg name="rgb_frame_id"   default="$(arg robot_name)/$(arg name)/openni_rgb_optical_frame" />
  		<arg name="depth_frame_id" default="$(arg robot_name)/$(arg name)/openni_depth_optical_frame" />

		<arg name="load_driver" default="true" />
		<arg name="publish_tf" default="false" />

		<arg name="rgb_processing"                  default="true"/>
		<arg name="ir_processing"                   default="false"/>
		<arg name="depth_processing"                default="true"/>
		<arg name="depth_registered_processing"     default="true"/>
		<arg name="disparity_processing"            default="false"/>
		<arg name="disparity_registered_processing" default="false"/>
		<arg name="hw_registered_processing"        default="false" />
		<arg name="sw_registered_processing"        default="true" />
	</include>

</launch>
